:root {
  --ifm-color-primary: #245f73;
  --ifm-color-primary-dark: #205668;
  --ifm-color-primary-darker: #1e5162;
  --ifm-color-primary-darkest: #194350;
  --ifm-color-primary-light: #28687e;
  --ifm-color-primary-lighter: #2a6d84;
  --ifm-color-primary-lightest: #307b95;
  --ifm-code-font-size: 95%;
}

.hero--primary {
  --ifm-hero-background-color: #12313d;
  --ifm-hero-text-color: #f7fbfc;
}

.main-wrapper {
  background: #fbfcfd;
}

[data-theme="dark"] .main-wrapper {
  background: #11161a;
}
